body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: hwb(0 3% 97%);
    color: hsl(0, 3%, 6%);
}

.music-player {
    max-width: 800px;
    font-size: 24px;
    margin: 50px auto;
    background-color: #53f70175;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 254, 254);
}

.header {
    text-align: center;
}

.logo {
    width: 100px; 
    height: 100px; 
    border-radius: 40%;
    padding: cover;
    background-color: #03030275;
    position: absolute;
    top: 11.5%;
    right: 31.5%;
    object-fit: cover;
    margin-bottom: 10px;}

.playlist {
    margin-top: 20px;
}

.playlist h2 {
    text-align: center;
    color: hsl(0, 0%, 0%);
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.playlist li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.playlist li:hover {
    background-color: rgba(5, 5, 5, 0.1);
}

.player {
    margin-top: 20px;
}

.player h2 {
    text-align: center;
    color: #070606;
}



#play-button:hover {
    background-color: #038703c8;
}

.song-info {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.song-info.show {
    opacity: 2; 
}


#song-image {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 25px solid black;
}


audio {
    width: 10%;
    outline: none;
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-play-button-container,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.time {
    text-align: center;
    color: #000000;
    font-size: 30px;
}

#current-time, #duration {
    font-size: 30px;
}